<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" data-bind="css:{ noHeader: header }">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" data-bind="text: fb.text('close')"></span></button>
        <h4 class="modal-title" data-bind="text: header"> </h4>
      </div>
      <div class="modal-body">
      <!--  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="text: fb.text('close')"></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->