<core-toolbar>
    <core-icon-button icon="menu"></core-icon-button>
    <span flex>Toolbar</span>
    <core-icon-button icon="refresh"></core-icon-button>
    <core-icon-button icon="add"></core-icon-button>
  </core-toolbar>
<div style="clear:both"></div>
<core-header-panel>
    <div class="core-header">standard</div>
    <div class="content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum in libero et congue. In malesuada mi sed nunc molestie sodales. Proin varius, erat non posuere pretium, ligula lorem tincidunt erat, bibendum porttitor purus quam non lorem. Proin non congue mi. Morbi faucibus non felis eu faucibus. Pellentesque efficitur tellus et eros venenatis ultrices. Donec volutpat ligula eget ipsum volutpat fringilla. Aliquam erat volutpat. Aenean vitae sem nec tortor tristique dignissim nec sed est. Etiam venenatis pretium nisi ac ultricies. Aliquam mollis ultricies tellus, et fringilla leo finibus id. Phasellus blandit urna dui, a volutpat est placerat nec. Ut tincidunt, metus eu rhoncus feugiat, nibh odio vehicula odio, et eleifend sem ligula vitae felis. Aliquam ligula felis, scelerisque in sapien a, aliquet pulvinar leo. Donec placerat velit sed tellus finibus, ultricies ultricies lorem varius. Phasellus eu eros vestibulum, rhoncus mauris eu, tempor enim. 
     </div>
  </core-header-panel>
  <core-header-panel>
    <div class="core-header">standard</div>
    <div class="content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum in libero et congue. In malesuada mi sed nunc molestie sodales. Proin varius, erat non posuere pretium, ligula lorem tincidunt erat, bibendum porttitor purus quam non lorem. Proin non congue mi. Morbi faucibus non felis eu faucibus. Pellentesque efficitur tellus et eros venenatis ultrices. Donec volutpat ligula eget ipsum volutpat fringilla. Aliquam erat volutpat. Aenean vitae sem nec tortor tristique dignissim nec sed est. Etiam venenatis pretium nisi ac ultricies. Aliquam mollis ultricies tellus, et fringilla leo finibus id. Phasellus blandit urna dui, a volutpat est placerat nec. Ut tincidunt, metus eu rhoncus feugiat, nibh odio vehicula odio, et eleifend sem ligula vitae felis. Aliquam ligula felis, scelerisque in sapien a, aliquet pulvinar leo. Donec placerat velit sed tellus finibus, ultricies ultricies lorem varius. Phasellus eu eros vestibulum, rhoncus mauris eu, tempor enim. 
     </div>
  </core-header-panel>
  <core-header-panel>
    <div class="core-header">standard</div>
    <div class="content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum in libero et congue. In malesuada mi sed nunc molestie sodales. Proin varius, erat non posuere pretium, ligula lorem tincidunt erat, bibendum porttitor purus quam non lorem. Proin non congue mi. Morbi faucibus non felis eu faucibus. Pellentesque efficitur tellus et eros venenatis ultrices. Donec volutpat ligula eget ipsum volutpat fringilla. Aliquam erat volutpat. Aenean vitae sem nec tortor tristique dignissim nec sed est. Etiam venenatis pretium nisi ac ultricies. Aliquam mollis ultricies tellus, et fringilla leo finibus id. Phasellus blandit urna dui, a volutpat est placerat nec. Ut tincidunt, metus eu rhoncus feugiat, nibh odio vehicula odio, et eleifend sem ligula vitae felis. Aliquam ligula felis, scelerisque in sapien a, aliquet pulvinar leo. Donec placerat velit sed tellus finibus, ultricies ultricies lorem varius. Phasellus eu eros vestibulum, rhoncus mauris eu, tempor enim. 
     </div>
  </core-header-panel>
  <div style="clear:both"></div>
  
  <paper-button raised onclick="document.querySelector('#toast1').show()" data-bind="text: 'testing 123'"></paper-button>
  
  <paper-button raised onclick="document.querySelector('#toast2').show()">Get Messages</paper-button>
  
  <paper-button raised onclick="document.querySelector('#toast3').show()">Send Message</paper-button>

  <paper-toast id="toast1" text="Your draft has been discarded."></paper-toast>
  
  <paper-toast id="toast2" role="alert" text="Connection timed out. Showing limited messages.">
    <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div>
  </paper-toast>
  
  <paper-toast id="toast3" class="capsule" text="Message sent" style="padding-right: 60px;"></paper-toast>
  
  
  <paper-radio-group selected="always">
      <paper-radio-button name="always" label="Always"></paper-radio-button>
      <paper-radio-button name="pluggedin" label="Only when plugged in"></paper-radio-button>
      <paper-radio-button name="never" label="Never"></paper-radio-button>
    </paper-radio-group>
    
  <section>

    <paper-input label="Type something"></paper-input>

    <br>

    <paper-input label="Type something" value="Prefilled value"></paper-input>

    <br>

    <paper-input class="narrow" label="Long labels get truncated"></paper-input>

    <br>

    <paper-input label="Type only numbers" type="number" error="Input is not a number!"></paper-input>

    <br>

    <paper-input label="Type something" required error="This input requires a value!"></paper-input>

    <br>

    <paper-input disabled label="I'm disabled"></paper-input>

    <br>

    <paper-input floatingLabel label="Floating label"></paper-input>

    <br>

    <paper-input floatingLabel label="Type an email here (floating label)" type="email" error="Input is not an email!"></paper-input>

    <br>

    <paper-input multiline label="Type multiple lines here"></paper-input>

    <br>

    <paper-input floatingLabel multiline label="Type multiple lines here" value="Prefilled multiline input value"></paper-input>

    <br>

    <paper-input multiline rows="3" label="This input is 3 rows high"></paper-input>

    <br>

    <paper-input multiline maxRows="3" label="This input is at most 3 rows high"></paper-input>

    <br>

    <paper-input multiline label="Sized with CSS, height: 150px;" style="height: 150px;"></paper-input>

    <br>

    <paper-input multiline floatingLabel label="Multiple lines and a floating label"></paper-input>

    <br>

    <paper-input label="Becomes visible after polymer-ready" hidden></paper-input>

    <paper-input multiline floatingLabel rows="2" label="Becomes visible after polymer-ready, min 2 rows" value="Some prefilled value" hidden></paper-input>

    <br>

  </section>

  <script>

    document.addEventListener('polymer-ready', function() {

      setTimeout(function() {
        Array.prototype.forEach.call(document.querySelectorAll('paper-input[hidden]'), function(node) {
          node.removeAttribute('hidden');
        });
      }, 500);

    });

  </script>
 