<h3 data-bind="text: fb.text('rp_title')">Reports</h3>

<p data-bind="text: fb.text('rp_info')"">
</p>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title" data-bind="text: fb.text('rp_title')"></h3>
		  </div>
		  <div class="panel-body">
		    <div id="sincos" style="width:100%;height:400px"></div>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title" data-bind="text: fb.text('rp_box_1_title')"></h3>
		  </div>
		  <div class="panel-body">
		  		<div class="alert alert-success" role="alert" data-bind="text: fb.text('alert_a')"></div>
				<div class="alert alert-info" role="alert" data-bind="text: fb.text('alert_b')">Heads up! This alert needs your attention, but it's not super important.</div>
				<div class="alert alert-warning" role="alert" data-bind="text: fb.text('alert_c')">Warning! Better check yourself, you're not looking too good.</div>
				<div class="alert alert-danger" role="alert" data-bind="text: fb.text('alert_d')">Oh snap! Change a few things up and try submitting again.</div>
		  </div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title" data-bind="text: fb.text('rb_box_2_title')"></h3>
		  </div>
		  <div class="panel-body">
				<p class="text-muted" data-bind="text: fb.text('silly1')"></p>
				<p class="text-primary" data-bind="text: fb.text('silly2')"></p>
				<p class="text-success" data-bind="text: fb.text('silly1')"></p>
				<p class="text-info" data-bind="text: fb.text('silly2')"></p>
				<p class="text-warning" data-bind="text: fb.text('silly1')"></p>
				<p class="text-danger" data-bind="text: fb.text('silly2')"></p>
		  </div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title" data-bind="text: fb.text('rb_box_3_title')"></h3>
		  </div>
		  <div class="panel-body">
			<ul class="list-group">
		      <li class="list-group-item">
		        <span class="badge">14</span>
		        <span data-bind="text: fb.text('silly1')"></span>
		      </li>
		      <li class="list-group-item">
		        <span class="badge">2</span>
		        <span data-bind="text: fb.text('silly2')"></span>
		      </li>
		      <li class="list-group-item">
		        <span class="badge">1</span>
		       <span data-bind="text: fb.text('silly1')"></span>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
</div>