<div class="row">
	<div class="col-md-8 contentbox">
		<form role="form" class="form-horizontal">
		
			<fieldset data-bind="with: users()[activePage()]">
			
				<legend class="page-header"><h3 data-bind="text: fb.text('users_title')"></h3></legend>
			
				<div class="form-group">
					<label class="col-md-3" for="user_id">Id</label>
					<div class="col-md-7">
						<input id="user_id" type="text" class="form-control" placeholder="#"  data-bind="value: id">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3" for="user_name" data-bind="text: fb.text('users_name')"></label>
					<div class="col-md-7">
						<input id="user_name" type="text" class="form-control" placeholder="" data-bind="value: name">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3" for="user_surname" data-bind="text: fb.text('users_surname')"></label>
					<div class="col-md-7">
						<input id="user_surname" type="text" class="form-control" placeholder="" data-bind="value: surname">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3" for="user_street" data-bind="text: fb.text('users_street')"></label>
					<div class="col-md-7">
						<input id="user_street" type="text" class="form-control" placeholder="" data-bind="value: street">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3" for="user_housenumber" data-bind="text: fb.text('users_hn')"></label>
					<div class="col-md-7">
						<input id="user_housenumber" type="text" class="form-control" placeholder="" data-bind="value: house_number">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3" for="user_postcode" data-bind="text: fb.text('users_pc')"></label>
					<div class="col-md-7">
						<input id="user_postcode" type="text" class="form-control" placeholder="" data-bind="value: postcode">
					</div>
				</div>
				<div class="form-group">
			  		<label class="col-md-3" for="user_country" data-bind="text: fb.text('users_country')"></label>
				  	<div class="col-md-7">
				  		<select id="selectbasic" name="user_country" class="form-control" 
				  			data-bind="options: $parent.countries, value:country">
                       </select>
				  	</div>
				</div>

			</fieldset>
			
			<div id="user_pagination" class="text-center">
				<!-- pagination tpl -->
				<pagination></pagination>
			</div>
			
  		</form>
	</div>
	<div class="col-md-4 infobox">
		<p data-bind="text: fb.text('alert_title')"></p>
		<div class="alert alert-success" role="alert" data-bind="text: fb.text('alert_a')"></div>
		<div class="alert alert-info" role="alert" data-bind="text: fb.text('alert_b')"></div>
		<div class="alert alert-warning" role="alert" data-bind="text: fb.text('alert_c')"></div>
		<div class="alert alert-danger" role="alert" data-bind="text: fb.text('alert_d')"></div>
	</div>
</div>